html {
    scroll-behavior: smooth;
}

.body{
  /*background-color: #aedfff;*/
  background-image: url(../images/web_background.png);
  background-position: center;
}

#titleContainer{
  /*background-color: #e99e68;*/
  background-image: url(../images/title_texture.png);
  background-size: cover;
  height: 100px;
  width: auto;
}

#title{
  height: 100px;
  width: auto;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

#buttons{
  background-image: url(../images/linkButtonsBackground.png);
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-around;
}

.tablinks{
  /*colores*/
  background-image: url(../images/linkButtons.png);
  color: rgb(255, 238, 227);
  /*dimensiones*/
  height: 40px;
  width: 200px;
  /*fuente*/
  font-size: 21px;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  /*bordes*/
  border: 2px solid rgb(255, 238, 227);
  border-radius: 5px;
  /*disposición*/
  text-align: center;
  display: inline-block;
  /*transición*/
  transition-duration: 0.2s;  
}

.tablinks:hover{
  background-image: url(../images/linkButtonsHover.png);
  color: rgb(94, 54, 48);
}

.tabcontent{
  display: none;
}

#mainContainer{
  /*background-color: #ffe6bf;*/
  background-image: url(../images/info_texture.png);
  background-size: cover;
  width: 1200px;
  height: 1600px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

#info{
  width: 900px;
  height: auto;
  margin: auto;
}

.header{
  color: #872701;
  font-size: 50px;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0px;
  margin-top: 40px;
}

.subHeader{
  color: #872701;
  font-size: 35px;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.parrafaco{
  color: #7d3d24;
  font-size: 30px;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  margin-top: 10px;
}

#teamCanibalTitle{
  display: flex;
  align-items: center;
}

#logo{
  height: 40px;
  width: auto;
  margin-left: 10px;
}

/*estilo de los créditos de los devs*/
.dev{
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

.devProfIcon{
  height: 150px;
  width: auto;
}

.devName{
  color: #7d3d24;
  font-size: 25px;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

/*estilo de los créditos de los colaboradores*/
#colabContainer{
  display:flex;
  align-items: top;
}

.colab{
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

.colabIcon{
  height: 150px;
  width: auto;
}

.colabInfoContainer{
  width: 270px;
  height: auto;
  margin: auto;
}

.colabName{
  color: #7d3d24;
  font-size: 25px;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.colabDescription{
  color: #7d3d24;
  font-size: 23px;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

#socialContainer{
  display: flex;
}

.socialIcon{
  height: 100px;
  width: auto;
  margin-left: 10px;
}

#alliesArray {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 13%; 
}

.allyButton {
  height: 50px;
  width: 50px;
  padding: 20px;
}

.domAlly {
   height: 120px;
   width: 120px;
}

